/* -------------------- MOBILE SCREENS -------------------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 1;
}

.menu-btn.material-symbols-outlined {
  font-size: 36px;
  cursor: pointer;
}

#open.menu-btn {
  display: none;
}

.checkbox {
  display: none;
}

#gulderen-logo-side-menu {
  display: none;
}

@keyframes side-move-in {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes side-move-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: -100px;
    }
} */

#body-check {
  display: none;
}

/* Stroke-Line in Mobile Screens */
@media (width <= 1300px) {
  .stroke-line {
    margin-top: 16rem;
    padding: 0 5rem;
    width: 100%;
  }
}

/* Hero Inner Img in Mobile Screens */
@media (width <= 600px) {
  .e-sm-con {
    height: 6rem;
    position: relative;
    top: -5rem;
    left: 9rem;
    max-width: fit-content;
  }
  .e-big-con {
    height: 10rem;
  }
}

/* Hero Title in Mobile Screens */
@media (width <= 600px) {
  .title-box {
    max-width: 28rem;
    text-align: center;
    font-weight: 300;
    font-size: x-large;
  }
}

/* Gap in Order Section Mobile Screens */
@media (width <= 640px) {
  .gap-order {
    gap: 3rem 2rem;
  }
  .slider-con {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .p-box {
    width: 20rem;
    text-align: center;
    margin: 1.2rem 0 2.4rem 0;
  }
  .p-box-ctr {
    width: 18rem;
    text-align: center;
  }
}

/* Glow Effect in Mobile Screens */
@media (width <= 600px) {
  .glow {
    width: 8rem;
    z-index: -1;
    box-shadow: 0 0 4rem 6rem var(--orange);
  }
}

/* Between 600px and 1080px */
@media (600px < width <= 1090px) {
  .hero {
    max-width: 72rem;
    justify-content: center;
    width: 100%;
    padding: 0 5rem;
    gap: 6rem 0;
  }
}

@media (width <= 600px) {
  .hero {
    max-width: 72rem;
    justify-content: center;
    width: 100%;
    padding: 0 5rem;
    gap: 4rem 0;
  }
}

@media (width <= 600px) {
  .content {
    max-width: 72rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* Navbar in Mobile Screens */
@media (width <= 1000px) {
  #nav-links {
    display: none;
  }

  #open.menu-btn {
    display: block;
  }

  .checkbox:checked ~ #nav-links #gulderen-logo-side-menu {
    display: flex;
  }

  .checkbox:checked ~ #nav-links {
    animation: 0.15s ease-in forwards side-move-in;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 70vw;
    top: 0px;
    left: 0px;
    gap: 3rem;
    background-color: rgba(255, 234, 211, 0.7);
    backdrop-filter: blur(0.5rem);
    padding: 2rem 1.5rem;
    box-shadow: 0 0 0.3rem 0.01rem rgba(119, 89, 33, 0.4);
  }

  /* To close side bar by clicking on body */
  .checkbox:checked ~ #body-check {
    z-index: 2;
    display: block;
    position: fixed;
    right: 0;
    height: 200vh;
    width: 30vw;
  }
}
