/* -------------------- MOBILE SCREENS -------------------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 1;
}

.menu-btn.material-symbols-outlined {
  font-size: 36px;
  cursor: pointer;
}

#open.menu-btn {
  display: none;
}

.checkbox {
  display: none;
}

#gulderen-logo-side-menu {
  display: none;
}

@keyframes side-move-in {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes side-move-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: -100px;
  }
} */

#body-check {
  display: none;
}

/* Stroke-Line in Mobile Screens */
@media (width <= 1350px) {
  .stroke-line {
    margin-top: 10rem;
    padding: 0 5rem;
    width: 100%;
  }
}

@media (width <= 600px) {
  .stroke-line {
    margin-top: 5rem;
  }
}

/* Hero Inner Img in Mobile Screens */
@media (width <= 600px) {
  .e-sm-con {
    height: 6rem;
    position: relative;
    top: -5rem;
    left: 9rem;
    max-width: fit-content;
  }
  .e-big-con {
    height: 10rem;
  }
}

/* Hero Title in Mobile Screens */
@media (width <= 600px) {
  .title-box {
    max-width: 28rem;
    text-align: center;
    font-weight: 300;
    font-size: x-large;
  }
}

/* Gap in Order Section Mobile Screens */
@media (width <= 640px) {
  .gap-order {
    gap: 3rem 2rem;
  }
  .slider-con {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .p-box {
    width: 20rem;
    text-align: center;
    margin: 1.2rem 0 2.4rem 0;
  }
  .p-box-ctr {
    width: 18rem;
    text-align: center;
  }
  .ingredients-con {
    justify-content: space-between;
    margin-top: 2rem;
  }
  .ingredients-order-con {
    margin-top: 4rem;
  }
}

/* Glow Effect in Mobile Screens */
@media (width <= 600px) {
  .glow {
    width: 8rem;
    z-index: -1;
    box-shadow: 0 0 4rem 6rem var(--orange);
  }
}

/* Between 600px and 1080px */
@media (600px < width <= 1090px) {
  .hero {
    max-width: 72rem;
    justify-content: center;
    width: 100%;
    padding: 0 5rem;
    gap: 6rem 0;
  }
}

/* Prep Images */
@media (width <= 1090px) {
  .prep-img-h {
    height: 10rem;
  }
  .prep-arrow-h {
    height: 3rem;
  }
  .prep-titles {
    font-size: x-large;
    font-weight: 300;
  }
  .prep-con {
    width: 28rem;
  }
}

@media (width <= 700px) {
  .prep-img-h {
    height: 9rem;
  }
  .prep-arrow-h {
    height: 2rem;
  }
  .prep-titles {
    font-size: 1.3rem;
    font-weight: 200;
  }
  .prep-con {
    width: 20rem;
  }
  .circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    background-color: var(--orange);
  }
  .circle-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #ff880059;
    backdrop-filter: blur(0.3rem);
  }
  .number-title {
    font-size: large;
  }
  .font-size-fix {
    width: 22rem;
  }
  .comment-con {
    max-width: 72rem;
    flex-wrap: wrap;
    gap: 4rem 0;
  }
}

@media (width <= 600px) {
  .hero {
    max-width: 72rem;
    justify-content: center;
    width: 100%;
    padding: 0 5rem;
    gap: 4rem 0;
  }
  .m-t-xxl {
    margin-top: 5rem;
  }
  .order {
    margin-top: 5rem;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
  }
  .about-con {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .grid-item-1 {
    grid-column: span 1;
  }
  .about-text {
    font-style: italic;
    font-weight: 300;
    width: 22rem;
  }
  .order-about {
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    padding: 0;
  }
  .about-menu {
    font-weight: 300;
    width: 9rem;
  }
}

@media (width <= 600px) {
  .content {
    max-width: 72rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .customers-con {
    max-width: 72rem;
    margin: 5rem 0;
  }
  .dropdown-con {
    width: 65%;
    height: 3rem;
    border-radius: 5rem;
    border: var(--orange);
    color: var(--brown);
    background-color: var(--orange);
    font-size: large;
    font-weight: 300;
  }
  .faq-title {
    margin-bottom: 4.8rem;
  }
}

@media (width <= 722px) {
  .dropdown-con {
    width: 100%;
    height: 3rem;
    border-radius: 5rem;
    border: var(--orange);
    color: var(--brown);
    background-color: var(--orange);
    font-size: large;
    font-weight: 300;
    margin: 1.2rem 0;
    padding-left: 1.2rem;
  }
  .dropdown-content-con {
    width: 100%;
    font-size: large;
    font-weight: 300;
    padding-left: 1.2rem;
  }
  .go-top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease;
  }
  .show-go-top-btn {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

/* Navbar in Mobile Screens */
@media (width <= 1000px) {
  #nav-links {
    display: none;
  }

  #open.menu-btn {
    display: block;
  }

  .checkbox:checked ~ #nav-links #gulderen-logo-side-menu {
    display: flex;
  }

  .checkbox:checked ~ #nav-links {
    animation: 0.15s ease-in forwards side-move-in;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 70vw;
    top: 0px;
    left: 0px;
    gap: 3rem;
    background-color: rgba(255, 155, 0, 0.1);
    padding: 2rem 1.5rem;
    box-shadow: 0 0 0.3rem 0.01rem rgba(119, 89, 33, 0.4);
    /* Mozilla & Safari Blur Fix */
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
  }

  /* To close side bar by clicking on body */
  .checkbox:checked ~ #body-check {
    z-index: 2;
    display: block;
    position: fixed;
    right: 0;
    height: 200vh;
    width: 30vw;
  }
}
