/* -------------------- MOBILE SCREENS -------------------- */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 1;
}

.menu-btn.material-symbols-outlined {
  font-size: 36px;
  cursor: pointer;
}

#open.menu-btn {
  display: none;
}

.checkbox {
  display: none;
}

#gulderen-logo-side-menu {
  display: none;
}

@keyframes side-move-in {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes side-move-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: -100px;
    }
} */

#body-check {
  display: none;
}

/* Stroke-Line in Mobile Screens */
@media (width <= 1300px) {
  .stroke-line {
    margin-top: 16rem;
    padding: 0 5rem;
    width: 100%;
  }
}

/* Hero Inner Img in Mobile Screens */
@media (width <= 600px) {
  .e-sm-con {
    height: 6rem;
    width: 8rem;
    position: relative;
    top: -4rem;
    left: 14rem;
  }
  .e-big-con {
    height: 12rem;
  }
}

/* Hero Title in Mobile Screens */
@media (width <= 1000px) {
  .title-box {
    max-width: 32rem;
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
  }
}

@media (width <= 1091px) {
  .hero {
    max-width: 72rem;
    justify-content: center;
    width: 100%;
    padding: 0 5rem;
    gap: 8rem 0;
  }
}

/* Navbar in Mobile Screens */
@media (width <= 1000px) {
  #nav-links {
    display: none;
  }

  #open.menu-btn {
    display: block;
  }

  .checkbox:checked ~ #nav-links #gulderen-logo-side-menu {
    display: flex;
  }

  .checkbox:checked ~ #nav-links {
    animation: 0.15s ease-in forwards side-move-in;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 70vw;
    top: 0px;
    left: 0px;
    gap: 3rem;
    background-color: rgba(255, 234, 211, 0.7);
    backdrop-filter: blur(0.5rem);
    padding: 2rem 1.5rem;
    box-shadow: 0 0 0.3rem 0.01rem rgba(119, 89, 33, 0.4);
  }

  /* To close side bar by clicking on body */
  .checkbox:checked ~ #body-check {
    z-index: 2;
    display: block;
    position: fixed;
    right: 0;
    height: 200vh;
    width: 30vw;
  }
}
