/*
Fonts Used:
Nova Flat Book

Josefin Sans Light
Josefin Sans ExtraLight
Josefin Sans Regular
Josefin Sans Bold
Josefin Sans Light Italic
Josefin Sans Medium
*/

:root {
  --orange: #ffd4a1;
  --orange-light: rgb(255, 230, 200);
  --brown: #5e331b;
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif, "Nova Flat", system-ui;
  /* font-family: "Nova Flat", system-ui; */
  user-select: none;
}

.brown-color {
  color: var(--brown);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.f-1 {
  flex: 1;
}

.m-r-s {
  margin-right: 0.5rem;
}

.m-r-m {
  margin-right: 1rem;
}

.m-r-l {
  margin-right: 2rem;
}

.m-r-xl {
  margin-right: 4rem;
}

.m-l-s {
  margin-left: 0.5rem;
}

.m-l-m {
  margin-left: 1rem;
}

.m {
  margin: 1rem;
}

.p {
  padding: 1rem;
}

.p-box {
  width: 20rem;
  text-align: justify;
}

.m-b-s {
  margin-bottom: 0.5rem;
}

.m-b-m {
  margin-bottom: 1.2rem;
}

.line-h {
  line-height: 95%;
}

.text-cntr {
  text-align: center;
}

#gulderen p::after,
#gulderen-logo-side-menu p::after {
  content: "Since 1985";
  display: block;
  font-size: small;
  line-height: 0.9rem;
}

.font-logo {
  font-family: "Nova Flat", "Josefin Sans", system-ui;
}

.font-light {
  font-weight: 300;
}

.font-xxs {
  font-size: xx-small;
}

.font-xs {
  font-size: x-small;
}

.font-s {
  font-size: small;
}

.font-m {
  font-size: medium;
}

.font-l {
  font-size: large;
}

.font-larger {
  font-size: larger;
}

.font-xl {
  font-size: x-large;
}

.font-xxl {
  font-size: xx-large;
}

.font-xxxl {
  font-size: xxx-large;
}

.brown {
  color: var(--brown);
}

.logo-con {
  align-items: center;
}

.logo-img {
  width: max-content;
  height: 3rem;
}

.button {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  color: var(--brown);
  background-color: var(--orange);
  font-size: large;
  font-weight: 300;
}

.button:hover {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  box-shadow: 0 0 0.2rem 0.005rem #ffbe6e;
  color: var(--brown);
  background-color: #ffbe6e;
  cursor: pointer;
}

.button:active {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: #ff8c00;
  color: var(--brown);
  background-color: #ff9c22;
}

.button-s {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  color: var(--brown);
  background-color: var(--orange);
  font-size: large;
  font-weight: 300;
}

.button-s:hover {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  box-shadow: 0 0 0.2rem 0.005rem #ffbe6e;
  color: var(--brown);
  background-color: #ffbe6e;
  cursor: pointer;
}

.button-s:active {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: #ff8c00;
  color: var(--brown);
  background-color: #ff9c22;
}

.button-order {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  color: var(--brown);
  background-color: var(--orange);
  font-size: large;
  font-weight: 300;
}

.button-order:hover {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  box-shadow: 0 0 0.2rem 0.005rem #ffbe6e;
  color: var(--brown);
  background-color: #ffbe6e;
  cursor: pointer;
}

.button-order:active {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: #ff8c00;
  color: var(--brown);
  background-color: #ff9c22;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.a-i-cntr {
  align-items: center;
}

.a-i-start {
  align-items: start;
}

.a-i-end {
  align-items: end;
}

.j-c-cntr {
  justify-content: center;
}

.order-con {
  justify-content: left;
}

.nav-con {
  position: fixed;
  z-index: 1;
  padding: 1rem 2rem;
  width: 100%;
  justify-content: center;
  backdrop-filter: blur(0.3rem);
  /* background: #fffcf9; */
}

.nav-con-inner {
  justify-content: space-between;
  width: 100%;
  max-width: 72rem;
}

#nav-links {
  gap: 2.5rem;
}

.m-t {
  margin-top: 2rem;
}

.m-t-l {
  margin-top: 4rem;
}

.m-t-xl {
  margin-top: 8rem;
}

@media (width > 900px) {
  #label {
    display: none;
  }
}

.glow {
  width: 10rem;
  z-index: -1;
  position: absolute;
  box-shadow: 0 0 9rem 8rem var(--orange);
}

.e-big-con {
  height: 15rem;
}

.weight {
  position: relative;
  top: 12rem;
  left: 30%;
}

.e-sm-con {
  height: 9rem;
  position: relative;
  top: -6rem;
  left: 10rem;
}

.order {
  margin-top: 16rem;
  max-width: 72rem;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.stroke-line {
  margin-top: 16rem;
}

.content {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
}
