/*
Fonts Used:
Nova Flat Book
Josefin Sans Light
Josefin Sans ExtraLight
Josefin Sans Regular
Josefin Sans Bold
Josefin Sans Light Italic
Josefin Sans Medium
*/

/* Global varilables */
:root {
  --orange-hard: #e65100;
  --orange: #ffd4a1;
  --green: #e6ee9c;
  --orange-light: rgb(255, 230, 200);
  --brown: #5e331b;
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif, "Nova Flat", system-ui;
  /* font-family: "Nova Flat", system-ui; */
  user-select: none;
}

.brown-color {
  color: var(--brown);
}

.orange-color {
  color: var(--orange-hard);
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

a:hover {
  color: var(--orange-hard);
  text-decoration: none;
  width: fit-content;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider {
  opacity: 0.6;
  background-color: #ffbe6e;
  transition: opacity 0.2s;
}

option {
  padding-top: 0.8rem;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

input[data-value="3"] ~ #amount {
  content: "3 Kg";
}

/* Animation when text changes */
.slider-value {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.slider-value.show {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.m-r-s {
  margin-right: 0.5rem;
}

.m-r-m {
  margin-right: 1rem;
}

.m-r-l {
  margin-right: 2rem;
}

.m-r-xl {
  margin-right: 4rem;
}

.m-l-s {
  margin-left: 0.5rem;
}

.m-l-m {
  margin-left: 1rem;
}

.m {
  margin: 1rem;
}

.m-h {
  margin: 0 3rem;
}

.p {
  padding: 1rem;
}

.p-h {
  padding: 0 3rem;
}

.rot-90 {
  transform: rotate(90deg);
}

.p-box {
  width: 20rem;
  text-align: justify;
}

.m-b-s {
  margin-bottom: 0.5rem;
}

.m-b-m {
  margin-bottom: 1.2rem;
}

.m-b-l {
  margin-bottom: 2.2rem;
}

.m-b-xl {
  margin-bottom: 4.2rem;
}

.line-h {
  line-height: 95%;
}

.text-cntr {
  text-align: center;
}

#gulderen p::after,
#gulderen-logo-side-menu p::after {
  content: "Since 1985";
  display: block;
  font-size: small;
  line-height: 0.9rem;
}

.font-logo {
  font-family: "Nova Flat", "Josefin Sans", system-ui;
}

.font-italic {
  font-style: italic;
}

.font-light {
  font-weight: 300;
}

.font-xxs {
  font-size: xx-small;
}

.font-xs {
  font-size: x-small;
}

.font-s {
  font-size: small;
}

.font-m {
  font-size: medium;
}

.font-l {
  font-size: large;
}

.font-larger {
  font-size: larger;
}

.font-xl {
  font-size: x-large;
}

.font-xxl {
  font-size: xx-large;
}

.font-xxxl {
  font-size: xxx-large;
}

.brown {
  color: var(--brown);
}

.logo-con {
  align-items: center;
}

.logo-img {
  width: max-content;
  height: 3rem;
}

.dropdown-con {
  width: 65%;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  color: var(--brown);
  background-color: var(--orange);
  font-size: large;
  font-weight: 300;
}

.dropdown-content-con {
  width: 65%;
  font-size: large;
  font-weight: 300;
}

.button {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  color: var(--brown);
  background-color: var(--orange);
  font-size: large;
  font-weight: 300;
}

.button:hover {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  box-shadow: 0 0 0.2rem 0.005rem #ffbe6e;
  color: var(--brown);
  background-color: #ffbe6e;
  cursor: pointer;
}

.button:active {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: #ff8c00;
  color: var(--brown);
  background-color: #ff9c22;
}

.button-s {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  color: var(--brown);
  background-color: var(--orange);
  font-size: large;
  font-weight: 300;
}

.button-s:hover {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--orange);
  box-shadow: 0 0 0.2rem 0.005rem #ffbe6e;
  color: var(--brown);
  background-color: #ffbe6e;
  cursor: pointer;
}

.button-s:active {
  width: 6rem;
  height: 3rem;
  border-radius: 5rem;
  border: #ff8c00;
  color: var(--brown);
  background-color: #ff9c22;
}

.button-order {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--green);
  color: var(--brown);
  background-color: var(--green);
  font-size: large;
  font-weight: 300;
}

.button-order:hover {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: var(--green);
  box-shadow: 0 0 0.2rem 0.005rem #ddec5a;
  color: var(--brown);
  background-color: #ddec5a;
  cursor: pointer;
}

.button-order:active {
  width: 12rem;
  height: 3rem;
  border-radius: 5rem;
  border: #cae000;
  color: var(--brown);
  background-color: #cae000;
}

.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: var(--orange);
}

.pos-rel {
  position: relative;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.a-i-cntr {
  align-items: center;
}

.a-i-start {
  align-items: start;
}

.a-i-end {
  align-items: end;
}

.j-c-cntr {
  justify-content: center;
}

.j-c-sb {
  justify-content: space-between;
}

.about-con {
  max-width: 72rem;
  justify-content: space-between;
  gap: 0 5rem;
  text-align: justify;
  margin-top: 8rem;
}

.nav-con {
  position: fixed;
  z-index: 1;
  padding: 1rem 2rem;
  width: 100%;
  justify-content: center;
  backdrop-filter: blur(0.3rem);
  /* background: #fffcf9; */
}

.nav-con-inner {
  justify-content: space-between;
  width: 100%;
  max-width: 72rem;
}

#nav-links {
  gap: 2.5rem;
}

.m-t {
  margin-top: 2rem;
}

.m-t-l {
  margin-top: 4rem;
}

.m-t-xl {
  margin-top: 8rem;
}

@media (width > 900px) {
  #label {
    display: none;
  }
}

.glow {
  width: 10rem;
  z-index: -1;
  position: absolute;
  box-shadow: 0 0 9rem 8rem var(--orange);
}

.img-con-s {
  height: 4rem;
}

.e-big-con {
  height: 15rem;
}

.prep-con {
  width: 30rem;
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

.weight {
  position: absolute;
  top: 55%;
  left: 29%;
}

.p-box-ctr {
  width: 30rem;
  text-align: center;
}

.e-sm-con {
  height: 9rem;
  position: relative;
  top: -6rem;
  left: 10rem;
}

.comment-con {
  max-width: 72rem;
}

.ingredients-con {
  justify-content: space-between;
}

.about-links {
  gap: 1rem 0;
}

.allow-user-select {
  user-select: all;
}

.order {
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.order-about {
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 10rem;
}

.order-cus {
  margin-top: 8rem;
  justify-content: center;
  padding: 0 3rem;
}

.stroke-line {
  margin-top: 16rem;
  width: 100vw;
}

.content {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
